  <%= form_for(@lesson) do |f| %>
    <label>講座名</label>
    <%= f.text_field :name, class: 'form-control' %>
    <label>日時</label>
    <%= f.datetime_select :lesson_date, {} %>〜
    <%= f.time_select :end_time, {} %>
    <%= f.submit '変更', class: 'btn btn-primary' %>
  <% end %>